.parent {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height:100%;
    

    }
    
.div1 {
    background-color:#457B9D;
    width: 25%;
    text-align:center;
    padding-top: 2%;
    border-radius: 15px 0 0 15px;
    border: 3px solid #457B9D;
    -webkit-box-shadow: -10px 0px 28px -5px rgba(0,0,0,0.36); 
    box-shadow: -10px 0px 28px -5px rgba(0,0,0,0.36);

    
}

.div2 { 
    background-color:#a8dadc;
    width: 40%;
    padding-top: 2%;
    text-align:center;
    border-radius: 0 15% 15% 0;
    border: 3px solid #457B9D;
    -webkit-box-shadow: 10px 0px 28px -5px rgba(0,0,0,0.36), inset 50px 0px 50px -30px rgba(0,0,0,0.03); 
    box-shadow: 10px 0px 28px -5px rgba(0,0,0,0.36), inset 50px 0px 50px -30px rgba(0,0,0,0.03);
    
 }

 .divForList {
    background-color: #F1FAEE;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border: 1px solid black;
    -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.15); 
    box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.15);
    height: 350px;
    overflow: scroll;

 }

 .divForContent {
    background-color: #F1FAEE;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 10%;
    border: 1px solid black;
    -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.15); 
    box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.15);
    height: 350px;
    overflow: scroll;


 }

 input[type=text] {
    position: relative;
    display: block;
    margin : 0 auto;
    width: 70%;
    box-sizing: border-box;
    line-height: 2em;
    background-color: white;
    border: 2px solid black;
    background-image: url('searchIcon.svg');
    background-repeat: no-repeat;
    padding-left: 10%;
    background-position: 2% 50%;
    background-size: 10%;
    border-radius: 15px;
  }

.addIcon{
    color: #1D3557;
    position: relative;
    bottom: 10px

}

.addIcon :hover{
    color: #082752;
    cursor: pointer;
}

.addXmark{
    color: #ff0000;
    position: relative;
    bottom: 10px;
    right: 70px;
}

.addXmark :hover{
    color: #ff000060;
    cursor: pointer;

    
}

.deleteIcon{
    color: #1D3557;
    position: relative;
    bottom: 10px;
    right: 0px;

}

.deleteIcon :hover{
    opacity: 50%;
    cursor: pointer;
}

.checkIcon{
    color: #0a7a19;
    position: relative;
    bottom: 10px;
    left: 130px;

}

.checkIcon :hover{
    color: #06791588;
    cursor: pointer;
}

.uploadIcon{
    color: #1D3557;
    position: relative;
    bottom: 10px;
    left: 20px;

}

.uploadIcon :hover{
    opacity: 50%;
    cursor: pointer;
}

.editIcon{
    color: #1D3557;
    position: relative;
    bottom: 10px;
    right: 20px

}

.editIcon :hover{
    opacity: 50%;
    cursor: pointer;
}

.notesItemTitle {
    border: 2px solid black;
    width: 85%;
    position: relative;
    display: block;
    margin : 0 auto;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #a8dadc;
    height: 14.5%;
    cursor: pointer;
}

.notesItemTitle :hover {
    transform: scale(1.1);
}




