.parent {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height:100%;
    

    }
    
.div1 {
    background-color:#457B9D;
    width: 25%;
    text-align:center;
    padding-top: 2%;
    border-radius: 15px 0 0 15px;
    border: 3px solid #457B9D;
    /* -webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5); */
    -webkit-box-shadow: -10px 0px 28px -5px rgba(0,0,0,0.36); 
    box-shadow: -10px 0px 28px -5px rgba(0,0,0,0.36);

    
}

.div2 { 
    background-color:#a8dadc;
    width: 40%;
    padding-top: 2%;
    text-align:center;
    border-radius: 0 15% 15% 0;
    border: 3px solid #457B9D;
    /* -webkit-box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.5);   */

    -webkit-box-shadow: 10px 0px 28px -5px rgba(0,0,0,0.36); 
    box-shadow: 10px 0px 28px -5px rgba(0,0,0,0.36);
 }

 .divForList {
    background-color: #F1FAEE;
     /* position: relative; */
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border: 1px solid black;
    -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.15); 
    box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.15);

 }

 input[type=text] {
    position: relative;
    display: block;
    margin : 0 auto;
    width: 70%;
    box-sizing: border-box;
    line-height: 2em;
    background-color: white;
    border: 2px solid black;
    background-image: url('searchIcon.svg');
    background-repeat: no-repeat;
    padding-left: 10%;
    background-position: 2% 50%;
    background-size: 10%;
    border-radius: 15px;
  }

.addIcon{
    color: #1D3557;
    position: relative;
    bottom: 10px

}

.addIcon :hover{
    color: #082752;
    border: 2px solid black;
    cursor: pointer;
}

